/*
	BASIC FORMATTING
*/

body {
	margin: 0;
	padding: 0;
}

.footer {
	margin: 50px auto;
	height: 100px;
}

/*
	1) SIMPLE BUTTON
*/

.simple-button {
	margin: 50px auto;
	width: 200px;
	height: 150px;
	background-color: green;
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(5, 96, 21);
	-webkit-transition: all 0.1s ease;
}

.simple-button:hover {
	margin-top: 53px;
	height: 147px;
	box-shadow: inset 0 -3px 0 rgb(5, 96, 21);
}

.simple-button:active {
	margin-top: 53px;
	height: 147px;
	box-shadow: inset 0 3px 0 rgb(5, 96, 21);
}

/*
	2) SQUARE TO CIRCLE
*/

.square-to-circle {
	margin: 50px auto;
	width: 200px;
	height: 200px;
	background-color: rgb(5, 96, 21);
	-webkit-transition: all 0.3s ease;

}

.square-to-circle:hover {
	border-radius: 200px;
	background-color: rgb(5, 160, 21);
	-webkit-transform: rotate(60deg);
}

/*
	3) DRAWER DOWN
*/
.drawer-down {
	margin: 50px auto;
	width: 200px;
	height: 6px;
	background-color: green;
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(5, 96, 21);
	-webkit-transition: .5s all ease;
}

.drawer-down:hover {
	margin: 50px auto;
	width: 200px;
	height: 80px;
	background-color: green;
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(5, 96, 21);
}

/*
	4) ROTATE ON CLICK
*/

.rotate-on-click {
	margin: 50px auto;
	width: 200px;
	height: 150px;
	background-color: green;
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(5, 96, 21);
	-webkit-transition: .2s all ease;
}

.rotate-on-click:active {
	margin: 50px auto;
	width: 200px;
	height: 150px;
	background-color: rgb(164, 10, 164);
	border-radius: 6px;
	box-shadow: inset 0 -6px 0 rgb(220, 10, 164);
	-webkit-transform: rotate(360deg);
}

/*
	5) CROSSFADE
*/

.crossfade {
	width: 100px;
	height: 100px;
    position: relative;
    margin: 50px auto;
}

.top {
	width: 100px;
	height: 100px;
	background-color: red;
}

.bottom {
	width: 100px;
	height: 100px;
	background-color: blue;
}

.crossfade .top {
    position: absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
}

.top:hover {
    opacity: 0;
}

/*
	6) CASCADE
*/

.cascade-box {
	margin: 50px auto;
	width: 200px;
	height: 150px;
	background-color: black;
	-webkit-transition: width .2s, height .2s,
						border .1s,
						background-color 2s;
}

.cascade-box:hover {
	width: 400px;
	height: 300px;
	background-color: gray;
	border: 4px solid black;
}

/*
	7) VANISH ON CLICK
*/

.click-vanish {
	margin: 50px auto;
	width: 200px;
	height: 150px;
	background-color: gray;
	-webkit-transition: opacity .5s;
}

.click-vanish:active {
	opacity: 0;
}

/*
	8) BOX CLOSE-LEFT
*/

.box-close-container {
	margin: 50px auto;
	position: relative;
	width: 200px;
	height: 150px;
}

.box-close {
	position: absolute;
	width: 200px;
	height: 150px;
	background-color: blue;
	-webkit-transition: all .3s ease;
}

.box-close:active {
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
}








